In [3]:
import csv
import gzip
import os
import scipy.io
import pandas as pd
import numpy as np

In [8]:
cluster_dir = "../data/v2/analysis/clustering/kmeans_{}_clusters/clusters.csv"
spatial_dir = "../data/v2/processed/spatial.csv"

In [9]:
df_spatial = pd.read_csv(spatial_dir)

In [10]:
for i in range(2,11):
    df_cluster = pd.read_csv(cluster_dir.format(i))
    df_cluster = df_cluster.rename(columns={'Barcode': 'barcode', 'Cluster': 'cluster_{}'.format(str(i))})
    df_spatial = df_spatial.merge(df_cluster, how='inner', on='barcode')

In [12]:
df_spatial

,barcode,AC090692.3,AC090692.1,LDLRAD3,AL136146.2,COMMD9,PRR5L,AC087277.1,AC087277.2,AC009656.1,...,pxl_row_in_fullres,cluster_2,cluster_3,cluster_4,cluster_5,cluster_6,cluster_7,cluster_8,cluster_9,cluster_10
0,AAACAAGTATCTCCCA-1,0,0,1,0,1,0,0,0,0,...,17782,2,2,4,3,2,7,8,9,8
1,AAACACCAATAACTGC-1,0,0,0,0,3,0,0,0,0,...,6447,1,3,2,4,5,5,4,3,3
2,AAACAGAGCGACTCCT-1,0,0,0,0,0,0,0,0,0,...,16716,2,2,4,3,2,7,8,9,8
3,AAACAGGGTCTATATT-1,0,0,1,0,2,0,0,0,0,...,5637,2,2,4,3,2,7,8,9,8
4,AAACAGTGTTCCTGGG-1,0,0,2,0,2,1,0,0,0,...,9712,1,3,2,4,5,5,4,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3610,TTGTTGTGTGTCAAGA-1,0,0,2,0,2,0,0,0,0,...,14383,2,2,4,3,2,7,8,4,6
3611,TTGTTTCACATCCAGG-1,0,0,0,0,1,0,0,0,0,...,9587,1,3,2,4,5,5,4,3,3
3612,TTGTTTCATTAGTCTA-1,0,0,1,0,2,0,0,0,0,...,7947,1,3,2,4,5,5,4,3,3
3613,TTGTTTCCATACAACT-1,0,0,0,0,1,0,0,0,0,...,7549,2,2,4,3,2,4,5,8,9
3614,TTGTTTGTGTAAATTC-1,0,0,0,0,1,0,0,0,0,...,10852,1,1,1,1,1,1,2,5,5

In [11]:
df_spatial.to_csv("../data/v2/processed/spatial_cluster.csv", index=False)